backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
easydict==1.7
flask==0.12.2
html5lib==0.9999999
itsdangerous==0.24
jinja2==2.9.6
markdown==2.2.0
markupsafe==1.0
opencv-python
protobuf==3.3.0
sqlalchemy==1.1.12
tensorflow-gpu==1.2.0
werkzeug==0.12.2